form {
	margin: 0 0 40px;
}

#stats {
	margin: 0 0 40px;
}
#image-container {
	margin-top: 20px;
	max-width: 300px;
	max-height: 300px;
	overflow: hidden;
}
#image-container img {
	width: 100%;
	height: auto;
	display: block;
}
#remove-btn,
#upload-btn {
	margin-top: 10px;
	padding: 5px 10px;
	color: white;
	border: none;
background-color: rgb(58, 47, 47);
	cursor: pointer;
}


#message {
	color: red;
	margin-top: 10px;
}